ul#possibleCountries {
  padding: 0px;
  border: 1px solid #CCCCCC;
  display: none;
}
ul#possibleCountries li {
  padding: 5px 10px;
  list-style: none;
  height: 45px;
  cursor: pointer;
}
ul#possibleCountries li:nth-child(odd) {
  background: #E0E0E0
}
ul#possibleCountries li:hover {
  background: #CBCBCB
}
ul#possibleCountries li div {
  display: inline-block;
}
.cntrCode {
  padding: 0 5px;
  width: 50px;
  text-align: center;
}
.cntrFlag {
  width: 100px;
  padding: 0 20px;
}
.cntrFlag img {
  max-height: 30px;
  width: auto;
}
.cntrName {
  padding: 0 5px;
}
.summaryTitle {
  font-weight: bold;
}
.detailsTitle {
  font-weight: bold;
}
#advancedOptions {
  display: none;
}
#countryResultsTable {
  display: none;
}
#countryDetails img {
  max-width: 100%;
  height: auto;
}
#countryDetails ul li {
  list-style: none;
}
#countryResultsTable img {
  max-width: 100px;
  height: auto;
}
#progressBar{
  display: none;
}